/* Adds white background to container and sets max width to 960px */
.container {
    background: white;
    max-width: 960px;
} 
 
 /* Adds background image to site, sets background color, and font*/
  body {
    background-image: url("../../assets/images/full-bloom.png");
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 1.7em; 
   }
   


  /* Header */
  /* Header style - adds background color, padding, and bottom border */ 
  header {
    border-bottom: 1px solid #dddddd;
  }
  
  /* Adds styling to h1 (name) */
  h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding: 20px;
    font-size:32px;
    background-color: #4aaaa5;
    text-align: center;
    border: none;
    display: inline-block; /* Trims h1 background */
  }
  
  /* Nav link positioning */
  .nav-item {
    margin-top: 20px;
  }
  
  nav {
    color: #777777;
  }
   /* Adds dividers to nav links */
   nav li {
    border-left: 1px solid #dddddd; 
  }

  /* Removes border from left side of first nav link */
  a.nav-link {
    color: #777777;
  }

  .nav li:first-child {
    border-left: 0 none;
    height: 50%;
  }
  
  /* Changes link font and background color on hover */
  a:hover {
    background-color: #4aaaa5;;
    color: white;
  }
  
  

  
  
  /* About section styling */
  .about {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  
  /* Makes h2 teal, positions it, and sets font */
  h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;
    top: 10px;
    margin-top: 20px;
    border-bottom: 1px solid #dddddd;
    padding-left: 20px;
  }

  .bio {
    padding: 30px;
    margin: 49px 20px 0px 10px;
  }
  
  /* Responsive image  */
  img.img-fluid {
    margin: 58px 0px 0px 25px;

    
  }

  
  

/* Portfolio */
/* Portfolio grid styling */


.row {
  display: flex;
}

.column {
  margin: 10px;
}

/* Image styling  */
img {
  padding-left: 10px;
  margin-left: 10px;
}

/* Container holding the image and the text */
.image {
  position: relative;
  text-align: center;
  color: white;
  left: 155px;
}

/* Adds style to text blocks over portfolio images and moves to bottom-center */
.bottom-center {
  position: absolute;
  bottom: 20px;
  left: 35px;
  width: 270px; 
  height: 50px;
  background: #4aaaa5;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 10px; /* Centers text vertically */ 
}

.portfolio {
  padding-bottom: 80px;
  margin-bottom: 40px;
  align-content: center;
}



  
  
  
  

  
  /* Contact */
  /* Contact form styling */
  .contactform {
    padding: 40px 100px 20px 100px;
    margin-bottom: 40px;
  }
  
  
  /* Styles the text boxes in the form */
  input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #dddddd; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;  
  }
  
  /* Styles the "submit button" */
  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 35px;
    border: 1px solid #dddddd;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  /* When moving the mouse over the submit button, add a darker grey color */
  input[type=submit]:hover {
    background-color: #666666;
  }
  
  
  
  
  
  
  /* Footer */
  /* Styles footer and fixes it to bottom */
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 10px;
    }
  
  #copyright {
    color: white;
    font-size: 12px;
    margin-top: 10px;
  }
  
  