/* Adds white background to container and sets max width to 960px */
.container {
    background: white;
    max-width: 960px;
} 
 
/* Adds background image to site, sets background color, and font*/
body {
  background-image: url("../../assets/images/xv.png");
  background-color: white;
  font-family: 'Khula', sans-serif;
  color: #949494;
  line-height: 1.7em; 
  overflow-x: hidden; /* Hides horizontal scroll bar */
}


/* Header */
header {
  background: white;  
  width:100%;
}

.fixedheader {
  position: fixed;
  top: 0;
  width: 100%
}


/* Adds styling to h1 (name) */
h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 80px;
  padding: 15px 0px 15px 0px;
  background: white;
  color: #eed9e7;
  text-align: center;
  margin-right: 12px;
  text-shadow: 1.5px 1.5px #b892a7;
}

/* Changes link background color on hover */
h1:hover {
  color: #b892a7;
  text-shadow: 1.5px 1.5px #eed9e7;
}


/* Nav bar styling */
#navbar {
  background: #93bec9;
}
.nav-item {
  background: #93bec9;
  font-size: 20px;
}

.nav-link {
  color: white;
  padding: 20px;
  margin-right: 6px;
  font-family: 'Khula', sans-serif;
}

/* Changes link background color on hover */
.nav-link:hover {
  background-color: #4699a8;
  color: white;
}


/* About section styling */
/* Profile photo */
img {
  width: 200px;
  height: 150px; 
  margin: 15px 0px 85px 45px;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.bio {
  margin: 20px 65px 135px 0px;
}
  
h2 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 50px;
  background: white;
  color: #eed9e7;
  text-shadow: 1.5px 1.5px #b892a7;
  margin: 30px 0px 0px 65px;
}

/* Changes link background color on hover */
h2:hover {
  color: #b892a7;
  text-shadow: 1.5px 1.5px #eed9e7;
}


/* Contact */
/* Contact form styling */
.contactform {
  padding: 40px 100px 20px 100px;
  margin-bottom: 40px;
}
  
/* Styles the text boxes in the form */
input[type=text], select, textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #dddddd; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;  
}
  
/* Styles the "submit button" */
input[type=submit] {
  background-color: #93bec9;
  color: white;
  padding: 10px 35px;
  border: 1px solid #dddddd;
  cursor: pointer;
  margin-bottom: 50px;
  font-size: 18px;
}
  
/* When moving the mouse over the submit button, add a darker grey color */
input[type=submit]:hover {
  background-color: #4699a8;
}

  
/* Footer */
/* Styles footer and fixes it to bottom */
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #93bec9;
  height: 70px;
}
  
#github {
  height: 30px;
  width: auto;
  margin-top: 20px;
}

#github:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#linkedin {
  height: 30px;
  width: auto;
  margin-top: 20px;
}

#linkedin:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#twitter {
  height: 30px;
  width: auto;
  margin-top: 20px;
  margin-left: 40px;
}

#twitter:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.logos {
  margin: 0px 0px 50px 626px;
}
