/* Adds white background to container and sets max width to 960px */
.container {
    background: white;
    max-width: 960px;
} 
 
/* Adds background image to site, sets background color, and font*/
body {
  background-image: url("../../assets/images/xv.png");
  background-color: white;
  font-family: 'Khula', sans-serif;
  color: #2e2e2e;
  line-height: 1.7em; 
  overflow-x: hidden; /* Hides horizontal scroll bar */
}

/* Header */
header {
  background: white;  
  width:100%;
}
  
/* Adds styling to h1 (name) */
h1 {
  font-family: 'Caveat', cursive;
  font-size: 80px;
  padding: 20px 0px 20px 0px;
  background: white;
  color: #6b6b6b;
  text-align: center;
  margin-right: 15px;
}
  
/* Nav bar styling */
#navbar {
  background: #93bec9;
}
.nav-item {
  background: #93bec9;
  font-size: 25px;
}

a.nav-link {
  color: white;
  padding: 20px;
}

/* Changes link background color on hover */
a:hover {
  background-color: #4699a8;
}


/* About section styling */
/* Profile photo */
img {
  border-radius: 10px; /* Makes border on image slightly rounded */
  width: 200px;
  height: 150px; 
  margin: 50px 0px 0px 35px;
}

.bio {
  margin: 55px 65px 0px 0px;
}
  
  



  /* Contact */
  /* Contact form styling */
  .contactform {
    padding: 40px 100px 20px 100px;
    margin-bottom: 40px;
  }
  
  
  /* Styles the text boxes in the form */
  input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #dddddd; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;  
  }
  
  /* Styles the "submit button" */
  input[type=submit] {
    background-color: #0096a3;
    color: white;
    padding: 10px 35px;
    border: 1px solid #dddddd;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  /* When moving the mouse over the submit button, add a darker grey color */
  input[type=submit]:hover {
    background-color: #666666;
  }
  
  
  
  
  
  
  /* Footer */
  /* Styles footer and fixes it to bottom */
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #93bec9;
    padding: 10px;
    height: 60px;
    }
  
  #copyright {
    color: white;
    font-size: 12px;
    margin-top: 10px;
  }
  
  